@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-Book.eot');
    src: local('☺'),
        url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-Medium.eot');
    src: local('☺'),
        url('fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-MediumItalic.eot');
    src: local('☺'),
        url('fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular";
    src: url('fonts/CircularStd-BookItalic.eot');
    src: local('☺'),
        url('fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
