@import './fonts'

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: #0000ff
  color: white
  font-family: 'Circular', sans-serif
  font-size: 18px

input,
select,
textarea,
button
  color: white
  font-family: 'Circular', sans-serif
  font-size: 18px
  outline: none

  &::placeholder
    color: rgba(white, .6)

a
  color: white
  text-decoration: none

.page-enter-active, .page-leave-active
  transition: opacity 0.4s

.page-enter, .page-leave-active
  opacity: 0
  transition: opacity .5s

.container
  padding: 30px 30px 100px

a,
button
  transition: opacity .2s ease-out

  &:hover
    opacity: .5
